body {
  background-color: #faeee7;
}
h1 {
  color: red;
}

#history-button {
  background-color: #ff8ba7;
}
#geography-button {
  background-color: #ff8ba7;
}

#music-button {
  background-color: #ffc6c7;
}
#literature-button {
  background-color: #ffc6c7;
}

#random-button {
  background-color: #ffc6c7;
  font-family: monospace;
}
section {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 70%;
  min-height: 20%;
  transform: translate(-50%, -50%);

  padding: 1rem;

  border-radius: 1rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
button {
  font-size: 2rem;
  font-family: monospace;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  margin: 3rem;
  padding: 0;
}
a {
  padding: 0;
  margin: 0;
}
