@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kanit:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,400;1,600&display=swap');

@import "navbar_edits.css";

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
}

html {
  box-sizing: border-box;
  margin-bottom: 0;
  min-height: 100%;
  /* font-size: 62.5%; */
  /* background-color: #ffff; */

}

body{
  background-color: #FAEEE7;
  font-family: 'Kanit', sans-serif;
  color: #33272A;
}

h1 {
  color: #33272a;
}
.navbar {
  margin: 0;
  padding: 0;
}

/* #question {
  margin-bottom: 14px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
} */

#quiz {
padding: 15px 30px;
margin: 10px 0;
border: 1px solid #ECECEC;
border-radius: 3px;
min-height: 250px;
display: flex;
/* justify-content: space-between; */
align-items: center;
align-content: center;
flex-direction: column;
position: relative;
overflow: hidden;
width: 100%;
}

.answers {
  background-color: white;
  width: 100%;
  border: 0.1rem solid rgb(86,165,235, 0.25);
  margin-bottom: 0.2rem;
}


.answers:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(255, 139, 167, 0.6);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

#list {
  margin-top: 1rem;
  width: 50%;
  text-align: center;
  list-style: none;
}

#list li {
  padding: 0.2rem;
  margin-bottom: 0.4rem;
}


#submit-button {
  background-color: #ff8ba7;
}

#next-button {
  background-color: #ffc6c7;
}
