@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kanit:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,400;1,600&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  margin-bottom: 0;
  min-height: 100%;
  font-size: 62.5%;
}

.navbar {
  margin: 0;
  padding: 0;
  font-size: 30px;
}
body {
  background-color: #faeee7;
  font-family: "Kanit", sans-serif;
}

.navbar-edits {
  padding: 1rem 1.5rem;
  background-color: #faeee7;
}

#score-section {
  display: flex;
  height: 100vh;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  margin: 0 3rem;
  overflow: hidden;
}

#leaderboard {
  flex: 1;
  text-align: center;
  height: 50%;
}

li {
  list-style: none;
}

#scoreboard-left {
  flex: 2;
  text-align: center;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  height: 100vh;
}

#form-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

#user-scores {
  display: flex;
  justify-content: space-around;
  flex: 2;
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  align-items: flex-end;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  align-items: center;
}

#body-container {
  display: flex;
  flex-direction: column;
  /* justify-content:end; */
  max-height: 100vh;
}

h1 {
  margin-top: 8rem;
  align-self: center;
  font-size: 4rem;
  font-weight: 700;
  font-family: "Bebas Neue", cursive;
}

.pink {
  background-color: #ff8ba7;
  border-radius: 10px;
  /* padding: 0.5rem 2rem; */
}
.light-pink {
  background-color: #ffc6c7;
  border-radius: 10px;
}
.card-edits {
  margin: 0 2rem;
  border-style: none;
  border-radius: 10px;
}

.card-text {
  padding: 0 3rem;
}

h5 {
  font-family: "Bebas Neue", cursive;
}
