*,
*::after,
*::before {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    margin-bottom: 0;
    min-height: 100%;
    font-size: 62.5%;
}

#score-section {
    display: flex;
    height: 100vh;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    margin: 3rem;
}

#leaderboard {
    flex: 1;
    text-align: center;
}

li {
    list-style: none;
}

#scoreboard-left {
    flex: 2;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

#form-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}


#user-scores {
    display: flex;
    justify-content: space-around;
    flex: 2;
    width: 100%;

}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
}