
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kanit:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,400;1,600&display=swap');

@import "navbar_edits.css";

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    margin-bottom: 0;
    min-height: 100%;
    /* font-size: 62.5%; */
    /* background-color: #ffff; */

}
body{
    background-color: #FAEEE7;
    font-family: 'Kanit', sans-serif;
    color: #33272A;
}

#scoreList{
    padding: 0;
    margin: 0;
}

li{
    margin: 1rem 0;
}

#score-section {
    display: flex;
    height: 60vh;
    flex-direction: row-reverse;
    justify-content:center ;
    align-items: center;
    margin: 0 3rem 1rem;

}

#leaderboard {
    flex: 1;
    text-align: center;
    height: 50%;
}

li {
    list-style: none;
}

#scoreboard-left {
    flex: 4;
    text-align: center;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    height: inherit;

}

#form-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    align-items: center;
    padding-top: 0.5rem;
    background-color: #FAEEE7;
    text-align: center;
}


#user-scores {
    display: flex;
    justify-content: space-around;
    flex: 2;
    width: 100%;
    height: auto;


}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-items:flex-end;
    height: inherit;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    align-items: center;

}

#body-container{
    display: flex;
    flex-direction: column;
    /* justify-content:end; */
    max-height: 100vh;


}

h1{
    margin-top: 8rem;
    align-self: center;
    font-size: 4rem;
    font-weight: 700;
    font-family: 'Bebas Neue', cursive;

}
.title-div{
    height: auto;
    background-color: #ffff;
    text-align: center;
}

.pink{
    background-color: #FF8BA7;
    border-radius: 10px;
    /* padding: 0.5rem 2rem; */
}
.light-pink{
    background-color: #FFC6C7;
    border-radius: 10px;
}
.card-edits{
    margin: 0 2rem;
    border-style: none;
    border-radius: 10px;
}

.card-text{
    padding: 0 3rem;
}

h5, h4, h2{
    font-family: 'Bebas Neue', cursive;
}
h2{
    font-size: 3rem;
}

.form--group{
    position: relative;
}
#usernameInput{
    height: 100%;
    width: 60%;
    border-radius: 0.25rem;
    border: 2px solid rgb(203, 203, 203);
    font-family: inherit;
    font-weight: inherit;
    outline: none;
    padding: 0.3rem;
}
#usernameInput:hover{
    border-color: #7bd0ea;
}
#usernameInput:focus{
    border-color: #639dad;
}
label {
    position: absolute;
    left: 3.2rem;
    top: 0.4rem;
    padding: 0 0.5rem;
    transition: color 400ms ease-in;
    color: #7b7b7b;
}

#score-button{
    display: inline-block;
    margin-left: auto;
    margin-top: 1rem;
    padding: 0.1rem 0.5rem;
    font-family: inherit;
    font-weight: inherit;
    border-radius: 0.25rem;
    background-color: rgb(218, 217, 217);
    outline: none;
    transition: background-color 200ms ease-in ;
}

#score-button:hover{
    background-color: rgb(158, 158, 158);
}

#usernameInput:focus ~ label {
    color: #c0c0c000;
}

@media screen and (min-width: 1450px){
    label {
        position: absolute;
        left: 4rem;
        top: 0.4rem;
        padding: 0 0.5rem;
        transition: color 400ms ease-in;
        color: #7b7b7b;
    }
}

@media screen and (min-width: 1578px){
    label {
        position: absolute;
        left: 1rem;
        top: 1.2rem;
        padding: 0 0.5rem;
        transition: color 400ms ease-in;
        color: #7b7b7b;
    }
}
/* links */

.card-link {
  text-decoration: none;
  color: #33272A;
  font-weight: 900;
}

.card-link:hover {
  color: #ffff;
  transition: color 200ms ease-in
}
